{% extends "base.html" %}
{% block content %}
    <h2>Success</h2>
    <p>You are logged in as {{ user.email }}</p>
    <p>Your stripe ID is {{ user.stripe_id }}</p>
    <h2>Subscription details</h2>
    <p>You have {{ user.subscription_end|timeuntil }} left</p>
    {% if user.subscription_active %}
    <p>To cancel your subscription, see below</p>
    <p>
        <a href="{% url "cancel_subscription" %}"
           onclick="return cancelSubscriptionCheck();"
           class="btn btn-danger">Cancel Subscription</a>
    </p>
    {% endif %}
    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if(confirm('Are you sure?')) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}
